.landing-header {
  font-weight: 600;
  font-size: 50px;
  margin: 0;
}

.landing-subheader {
  font-family: Roboto;
  font-weight: 300;
  font-size: 22px;
  font-weight: normal;
  margin: 0 0 28px 2px;
}

.landing {
  position: absolute;
  margin-left: 60px;
  padding: 0 40px;
  top: 40%;
  transform: translate(0, -50%);
  z-index: 1;
  margin-bottom: -80;
}

.searchbar-container {
  display: flex;
  align-items: center;
}

.searchbar {
  margin-right: 15px;
  margin-left: 2px;
}

.landingImage {
  width: 100%;
  position: absolute;
  bottom: 0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.select input {
  font-family: Roboto;
}

@media only screen and (max-width: 1300px) {
  .landing-header {
    font-size: 48px;
  }

  .landing-subheader {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1055px) {
  .landing-header {
    font-size: 40px;
  }

  .landing-subheader {
    font-size: 18px;
  }

  .landing {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 870px) {
  .searchbar-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .searchbar {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 820px) {
  .landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .landing {
    margin-left: 0;
    width: 100%;
  }

  .searchbar-container {
    align-items: center;
  }
}

@media only screen and (max-width: 720px) {
  .landing-header {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 10px;
  }

  .landing-subheader {
    font-size: 16px;
  }
}

@media only screen and (max-width: 520px) {
  .landing-header {
    font-size: 30px;
    line-height: 34px;
  }

  .landing-container {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 459px) {
  .searchbar {
    margin: 0;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 459px) {
  .landing {
    padding: 0 20px;
  }
}
