.company-container {
  margin: 0 auto;
  /* min-width: 100%;
  max-width: max-content; */
  padding: 0 60px;
}

.company-name {
  margin: 0;
  font-size: 40px;
}

.company-stats {
  margin: 0;
  font-size: 18px;
}

.invalidCompany {
  margin-left: 100px;
}

h4 {
  font-family: Roboto Mono;
  font-weight: 300;
  font-size: 18px;
  margin-left: 5px;
  margin-bottom: 10px;
}

.companyRating {
  font-weight: bold;
  color: #2196f3;
}

.jobRating {
  font-weight: bold;
  font-size: 16px;
  color: #2196f3;
}

.numberOfReviewsJob {
  font-size: 16px;
}

.textDivider {
  font-size: 18px;
  padding-left: 5px;
  padding-right: 5px;
}

.textDivider2 {
  font-size: 18px;
  font-weight: 300;
  padding-left: 5px;
  padding-right: 5px;
}

.companyTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.companyTitle:last-child {
  margin-left: 0;
  vertical-align: center;
}
