.question-container {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 30px;
  max-width: 760px;
  margin-bottom: 20px;
  white-space: normal;
}

.question-body {
  font-size: 16px;
  margin: 0;
  word-break: break-all;
}

@media only screen and (max-width: 940px) {
  .question-container {
    max-width: calc(100vw - 120px);
  }
}

@media only screen and (max-width: 720px) {
  .question-container {
    padding: 20px;
  }
}

@media only screen and (max-width: 520px) {
  .question-container {
    max-width: calc(100vw - 40px);
  }
}
